* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.02em;
}

a {
  font-size: 18px;
  line-height: 20px;
  color: #8492a6;
  text-decoration: none;
}

.tab-menu {
  list-style-type: none;
}

.tab-menu-item {
  float: left;
  margin: 16px;
}

.tab-menu-item a {
  padding: 16px 20px;
  display: block;
}

.tab-menu-item.active {
  border-bottom: 2px solid aqua; 

}

.tab-menu-a {
  color: aqua;
}

.tab-menu::after {
  content: "";

}