* {
    box-sizing: border-box;
    margin: 0;
}

.parent {
    height: 100vh;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-template-columns: 1fr;
    /* row-gap: 10px;
    column-gap: 10px; */
    gap: 10px;
}

.nav {
    background-color: rgba(255, 0, 0, 0.59);
    grid-row: 1/2;
    grid-column: 1/2;
}

.content {
    background-color: rgba(172, 255, 47, 0.466);
    grid-row: 2/3;
    grid-column: 1/2;
}

.footer {
    background-color: rgba(127, 255, 212, 0.478);
    grid-row: 3/4;
    grid-column: 1/2;
}